.bootom_border {
  height: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  position: sticky;
  top: 0;
  margin-left: 5%;
}

.sidebar1 {
  margin-left: 2rem;
  z-index: 2;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}

/* .sidebar1 Avatar {

  position: relative;
} */

.sidebar1 h2,
p {
  align-self: flex-start;
  margin-left: 50px;
}
Button {
  width: 75%;
  border-radius: 7%;
  color: rgb(37, 37, 37);
  background-color: beige;
  margin: 50px;
}
/* .container {
  margin-left: 5%;
} */
@media only screen and (max-width: 620px) {
  #avater {
    height: 95.33px;
    width: 95.33px;
    /* margin: 4px;
    float: left; */
  }

  .sidebar1 {
    /* margin-left: 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-left: 5%;
    margin-top: 7%;
  }

  .bootom_border {
    display: none;
  }
  Button {
    width: 90%;
    align-content: center;
  }
  /* .id {
    margin-left: 5px;
  } */
  /* .container {
    display: flexbox;
    align-self: center;
  } */
  h2 {
    text-align: start;
  }
}
